:root {
    --fonte-titulo: 'Krona one';
    --fonte-paragrafo: 'Montserrat';
    --cor-branco-principal: #E6A4B4;
    --cor-azul-secundario: #F3D7CA;
    --cor-preto-fundo: #F5EEE6;
    --cor-hoover: #FFF8E3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-preto-fundo);
    color: var(--cor-branco-principal);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 2%;
    display: flex;
    justify-content: center;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__links {
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-azul-secundario);
    text-decoration: none;
}

.container-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.5% 15%;
    gap: 82px;
}

.destaque-titulo {
    color: #F3D7CA;
}

.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem ; 
}

.conteudo__titulo {
    color: var(--cor-branco-principal);
    font-family: var(--fonte-titulo);
    font-size: 2.25rem;
}

.conteudo__paragrafo {
    color: var(--cor-branco-principal);
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem;
}

.conteudo__paragrafo a {
    text-decoration: none;
    color: var(--cor-branco-principal);
}

.imagem__principal {
    /*width: 467.71px;
    height: 532px;*/
    width: 50%;
}

.imagem__icone {
    width: 2rem;
    height: 2rem;
}

.conteudo__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--cor-azul-secundario);
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    background-color: var(--cor-preto-fundo);
    color: var(--cor-branco-principal);
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--fonte-paragrafo);
    font-weight: 600;
    border: var(--cor-azul-secundario) 2px solid;
}

.conteudo__links :hover {
    background-color: var(--cor-hoover);
}

.links__subtitulo {
    font-family: var(--fonte-titulo);
    color: var(--cor-branco-principal);
    font-size: 1.5rem;
    font-weight: 400;
}

.rodape {
    color: var(--cor-preto-fundo);
    background-color: var(--cor-azul-secundario);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-paragrafo);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .container-principal{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .conteudo {
        width: auto; /* ou width 100%*/
    }
}